@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

[class*=__container] {
    max-width: 980px;
    margin: 0 auto;
}

[class*=stand] {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;


}

.header {
    margin: 0px 0px 125px 0px;
}

.header_background {
    max-width: 100%;
    background: url("../image/background.png");
    max-height: 468px;
}

.header_content {}

.header_title {
    text-align: center
}

.course {
    display: inline-block;
    padding-top: 168px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FF3F3A;
    ;

}

.user_title {
    padding-bottom: 130px;
    font-family: Lato;
    font-size: 46px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;

}

.font_image {}

.main__container {}

.page_about_content {
    margin-bottom: 55px;
}

.about_course {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    margin-bottom: 40px;
}

.page_about_content .about_course {
    font-size: 46px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    margin-bottom: 55px;
}

.page_about_content,.courator_title .title_course {
    max-width: 600px;
    padding: 2px;
}

.page_choise__container {}

.choise {
    max-width: 600px;
    margin-bottom: 80px;
}

.list>li::before {
    content: url("../image/Vector.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 33px;
    margin-right: 15px;
}

.list>li {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    margin: 5px;
}


.courator__container {}

.courator_info {}

.courator_info h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
}

.courator_info h2 {

    font-size: 46px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    margin: 30px 0px;

}

.courator_info span {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #787A80;
}

.courator_rate {
    margin: 28px 0px;
}

.courator_rate li {
    margin: 0px 0px 10px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.courator_rate li:nth-child(1):before {
    content: url("../image/cody_fisher_Star\ \(Stroke\).png");
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 33px;
    margin-right: 10px;
}

.courator_rate li:nth-child(2):before {
    content: url("../image/play_cody_fisher.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 33px;
    margin-right: 10px;
}

.courator_rate li:nth-child(3):before {
    content: url("../image/cody_fisher_people.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 33px;
    margin-right: 10px;
}

.courator_title p {
    margin: 0px 0px 32px 0px;
    text-align: justify;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 190px;
margin-bottom: 25px;
box-sizing: border-box;

}
.socials a{
    padding: 8px;
    transition: 0.3s ease-in;
}
.socials a:hover{
border: 2px solid rgb(124, 124, 124);
border-radius: 7px;
}


/* //////////////////////////////////////////// */


.h_bg{
    margin-top: 45px;
    padding: 40px;
    min-width: 100%;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.homework{
    margin: 80px 0px;

}

.game{
    width: 100%;
    height: 400px;
    background-color: rgb(187, 158, 105);
    border-radius:7px;
    /* cursor:cell; */
}

.game div:not(div:first-child) {
    visibility: hidden;
}
.block1 {
    display: flex;
    justify-content: center;
    align-items:center;
    color:#3b1292;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
    width: 55px;
    height: 60px;
    background-color: #FF3F3A;
}
.block2 {
    width: 365px;
    height: 30px;
    background-color: #FF3F3A;
}
.block3 {
    margin-left: 320px;
    width: 45px;
    height: 180px;
    background-color: #FF3F3A;
    
}
.block4 {
    margin-left: 320px;
    width: 155px;
    height: 25px;
    background-color: #FF3F3A;
    
}
.block5{
    margin-left: 461px;
    width: 14px;
    height: 72px;
    background-color: #FF3F3A;
 
}
.block6 {
    margin-left: 435px;
    width: 80px;
    height: 32px;
    background-color: #FF3F3A;
    text-align: center;
    line-height: 32px;
    letter-spacing: 3px;
    color:#3b1292;
    font-weight: 700;
    
}



.box_content {
    margin: 30px 0px;
}
.box_1 {
    
}
.box_2 {
}
.box_3 {
}
.box_4 {
}
.box_5 {
}